body {
  --bg: #2f3d37;
  --sec: #3e5349;
  --pri: #81d1ae;

  text-align: center;
}

#board {
  position: relative;

  background-color: #2f3d37;
  border-radius: 20px;
  margin: auto;
  padding: 10px;

  aspect-ratio: 1;
  max-height: 90vh;
  max-width: 90vw;
}

.rank {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 12.5%;
}

.square {
  position: relative;

  border-color: #81d1ae;
  border-radius: 10px;
  border-style: solid;
  border-width: 0;
  transition: border-width 0.1s linear;
}

.light-square {
  background-color: #3e5349;
}

.square::after {
  position: absolute;

  background-color: #81d1ae;
  border-radius: 50%;
  content: '';
  scale: 0;
  transition: scale 0.2s;

  inset: 0;
}

.square:hover {
  border-width: 5px;
}

.valid {
  cursor: pointer;
}

.valid::after {
  border-radius: 50%;
  scale: 0.3;
}

.timer {

}